*{
    margin: 0;
    padding: 0;
    font-family: 'poppin', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 221, 0);
}

.questionpanel{
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.questionpanel h2{
    font-weight: 25px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.nxtBtn{
    background: #260086;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    border: 1px solid#222;;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.nxtBtn:hover{
background-color: rgb(35, 123, 255);
color: #fff;
}
